.detail-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    width: 95vw;
    height: 85vh;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 0.5em;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
}