.cargando {
    margin: auto;
    font-size: 1.5rem;
    font-weight: bold;

}

.card-detail {
    display: grid;
    grid-template-columns: 31.25rem 1fr;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 1rem;
}

.detail1 h4 {
    text-align: center;
    font-size: 1.5rem;
}

.detail1 img {
    display: block;
    margin: auto;
    block-size: 400px;
}


.detail2 {
    /*parte de la descripcion y contador*/
    inline-size: 80%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    justify-self: center;

}

.description {
    margin-bottom: 10px;
    background-color: rgb(237, 139, 19);
    border-radius: 0.15em;
    font-weight: bold;
    padding: 3px;
    color: white;
    text-align: center;
    width: 11vw;
}

.prod-arriba {
    margin-bottom: auto;
}

.detail-price {
    background-color: #169269;
    padding: 3px;
    color: white;
    border-radius: 0.2em;
    width: 11vw;
    text-align: center;
    margin-top: 10px;
}


/*Partes del contador*/

.counter-container {
    width: 80%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around;
}

.counter {
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.3em;
    background-color: #c8c8c8;
    border: 1px solid #c8c8c8;
}

.counter button {
    width: 40px;
    height: 40px;
    font-weight: bold;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    background-color: #e1e1e1;
    border: 1px solid #c8c8c8;
    border-radius: 0.3em;
    cursor: pointer;
}

.counter button:hover {
    border-color: #f2f2f2;
    background-color: #f2f2f2;
    transform: scale(1.1);
}

.counter .detail-contador {
    font-size: larger;
    width: 60%;
    padding-top: 5px;
    height: 100%;
    text-align: center;
    background-color: white;
    border: 1px solid #c8c8c8;
}

.counter-container .añadir-carrito {
    background-color: #1760a0;
    width: 200px;
    text-align: center;
    height: 40px;
    color: white;
    cursor: pointer;
    font-size: larger;
    border: none;
    border-radius: 0.3em;
}

.counter-container .añadir-carrito:hover {
    transform: scale(1.05);
}